services:
  imsa-init:
    image: alpine:latest
    command: sh -c "chown -R 1000:1000 /app/data"
    volumes:
      - imsa-data:/app/data

  imsa:
    build: .
    container_name: imsa
    depends_on:
      - imsa-init
    environment:
      - BOT_TOKEN=${BOT_TOKEN}
      - OWNER_USER_ID=${OWNER_USER_ID}
    volumes:
      - imsa-data:/app/data
    networks:
      - imsa-net
    restart: always

volumes:
  imsa-data:
    name: imsa-data

networks:
  imsa-net:
    name: imsa-net
